<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>photodl app</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" type="text/css"></head>
    <link href="{{url_for('static', filename='css/custom.css')}}" rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    {% block extra_css %}{% endblock extra_css %}

<body>
    <div class="container">

      <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">photodl app</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar">
                        <li><a href="/">Home</a></li>
                        <li><a href="/media/get_user_photos">Your photos</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Media</li>
                                <!--<li><a href="{{ url_for('media.search_by_hashtag') }}">Search by hashtag</a></li> -->
                                <li><a href="/media/search_by_hashtag?hashtag=bunnymama">Search by hashtag</a></li>
                                <li><a href="/media/user_media_feed">User Media Feed</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">View</li>
                                <li><a href="/views/get_user_info?username=bunnymama">Get User Info</a></li>
                                <li><a href="/views/media_by_hashtag">Media by Hashtag</a></li>
                                <li><a href="/views/followed_by">User followed by</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if 'access_token' in session %}
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Download your media<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/media/download_photos"><i class="fa fa-instagram"></i> photos</a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i> photos</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('account.logout') }}"><i class="fa fa-instagram"></i> Logout</a></li>
                        {% endif %}
                        {% if 'access_token' not in session %}
                            <li><a href="{{ url_for('account.login') }}"><i class="fa fa-instagram"></i> Login</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>

    </div> <!-- /container -->

    {% block body %}{% endblock %}
    <p>

    </p>
    <div id="footer">
        <div class="container navbar-fixed-bottom">
            <div class="navbar-content-center">
                <p class="text-muted">App made by <a href="http://saruberoz.github.io">Wilson Sumanang</a> with help of <a href="http://github.com/KyleJamesWalker">Kyle Walker</a> &copy;.</p>
            </div>
        </div>
    </div>

    <!-- Js Files-->
    <script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Custom Js -->
    <script src="js/custom.js" type="text/javascript" charset="utf-8"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
