{% extends 'base.html' %}

{% block body %}

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>photodl app</h1>
        <p>This simple app is created for downloading your social network site photos through external API</p>
        <p>
        <a class="btn btn-lg btn-primary" href="https://github.com/saruberoz/photodl" role="button">View app source &raquo;</a>
        </p>

        <p>
            <a href="/account/login" class="btn btn-default btn-lg" role="button"><i class="fa fa-instagram fa-lg"></i> Instagram Sign in</a>
        </p>
    </div>


</div>

{% endblock %}
