<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Instaload app</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
</head>

<body>


    <div>
        This is index page
    </div>
    <!-- Script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="js/instaload-app.js"></script>
</body>

</html>
